<!-- <div class="form-group">
    <label for="input" class="col-sm-4 control-label">Gold Weight</label>
    <div class="col-sm-8">
    <div class="input-group">
    <input type="hidden" name="goldvalue" value="{{goldvalue}}" id="goldvalue">
    <input type="number" required class="form-control input-sm" name="goldweight" id="goldweight"  placeholder="Enter Gold Weight"/>
    <span class="input-group-addon" style="font-size:30px">gms</span>
</div>
    </div>
</div> -->
<!-- <div class="form-group">
    <div class="col-sm-2">
    <button type="button" aria-required="true" class="btn btn-success btn-xs" onclick="javascript:LoanAmount()"/>Check LoanAmount</button>
    </div>
</div> -->
<div class="form-group">
    <!-- <label for="input" class="col-sm-4 control-label">Your Loan Amount</label>
    <div class="col-sm-5">
    <div class="input-group">
    <span class="input-group-addon" style="font-size:30px">₹</span> -->
    <input type="hidden"  required class="form-control input-sm" name="loanamount" value="javascript:LoanAmount()" disabled id="loanamount"/ style="font-weight:Bold; font-size:20px;">
    </div>
    </div>
    <label for="input" class="col-sm-3 control-label" align="center"><b>Gold Value (@ {{goldvalue}}) per 10 gms</b></label>
    <br>
</div>
  <!-- end -->

   
   

  <script src="/static/calculator/goldweight.js" type="text/javascript"></script>