<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900" rel="stylesheet">

    <title>Gold Loan FMS</title>
<!--
SOFTY PINKO
https://templatemo.com/tm-535-softy-pinko
-->

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="/static/assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="/static/assets/css/font-awesome.css">

    <link rel="stylesheet" href="/static/assets/css/templatemo-softy-pinko.css">
{%  block first %}
{% endblock %}
    </head>
    
    <body>
    
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav" >
                        <!-- ***** Logo Start ***** -->
                        <a href="#" class="logo">
                            <img src="/static/logo/gold.png" height="50" width="100" alt="Softy Pinko"/>
                          <b>  GOLD LOAN FMS  </b>
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav"> 
                            <li><a href="/loginmodule/home" class="active"><font color="white"></font>Home</font></a></li>
                            {% comment %} <li><a href="/loginmodule/about">About</a></li> {% endcomment %}
                            <li><a href="/applyforloan/apply/"><font color="white"></font>Apply For Loan</font></a></li>
                            <li><a href="/loginmodule/login"><font color="white"></font>Login</font></a></li>
                            {% comment %} <li><a href="#pricing-plans">Pricing Tables</a></li> {% endcomment %}
                            <li><a href="#contact-us"><font color="white"></font>EMI CALCULATOR</font></a></li>
                        </ul>

                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
        <!-- jQuery -->
    <script src="/static/assets/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="/static/assets/js/popper.js"></script>
    <script src="/static/assets/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="/static/assets/js/scrollreveal.min.js"></script>
    <script src="/static/assets/js/waypoints.min.js"></script>
    <script src="/static/assets/js/jquery.counterup.min.js"></script>
    <script src="/static/assets/js/imgfix.min.js"></script> 
    
    <!-- Global Init -->
    <script src="/static/assets/js/custom.js"></script>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Welcome Area Start ***** -->
    {% block content %}
{% endblock %}

  </body>
</html>