{% extends 'base.html' %}

{% block content %}

<section class="mini" id="work-process">
    <div class="mini-content">
        <div class="container">
            <div class="row">
                <div class="offset-lg-3 col-lg-6">
                    <div class="info">
                        <br>
                        <h1>Gold Loan Process</h1>
                        <h1>Steps</h1>
                    </div>
                </div>
            </div>

            <!-- ***** Mini Box Start ***** -->
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-7 col-8">
                    <a href="#" class="mini-box">
                        <strong>Apply for Loan</strong>
                        <i><img src="assets/images/work-process-item-01.png" alt=""></i>

                        <span></span>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-5 col-1">
                    <a href="#" class="mini-box">
                        <strong>Track Application Status</strong>
                        <i><img src="assets/images/work-process-item-01.png" alt=""></i>

                        <span></span>
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                    <a href="#" class="mini-box">
                        <strong>Approvement of Loan</strong>
                        <i><img src="assets/images/work-process-item-01.png" alt=""></i>

                        <span></span>
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                    <a href="#" class="mini-box">
                        <strong>EMI Instalments</strong>
                        <i><img src="assets/images/work-process-item-01.png" alt=""></i>

                        <span></span>
                    </a>
                </div>
            </div>
            <!-- ***** Mini Box End ***** -->
        </div>
    </div>
</section>
<!-- ***** Home Parallax End ***** -->


<!-- ***** Pricing Plans Start ***** -->
<section class="section colored" id="pricing-plans">
    <div class="container">
        <!-- ***** Section Title Start ***** -->
        <div class="row">
            <div class="col-lg-12">
                <div class="center-heading">
                    <h2 class="section-title">Present Rates</h2>
                </div>
            </div>
            <div class="offset-lg-3 col-lg-6">
                <div class="center-text">

                </div>
            </div>
        </div>
        <!-- ***** Section Title End ***** -->

        <div class="row">
            <!-- ***** Pricing Item Start ***** -->
            <div class="col-lg-4 col-md-6 col-sm-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
                <div class="pricing-item">
                    <div class="pricing-header">
                        <h3 class="pricing-title">Gold Price</h3>
                    </div>
                    <div class="pricing-body">
                        <div class="price-wrapper">
                            <span class="currency">₹</span>
                            <span class="price">{{goldvalue}}</span>
                            <span class="period">(per 10 gms.)</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ***** Pricing Item End ***** -->

            <!-- ***** Pricing Item Start ***** -->
            <div class="col-lg-4 col-md-6 col-sm-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.4s">
                <div class="pricing-item active">
                    <div class="pricing-header">
                        <h3 class="pricing-title">Interest Rate</h3>
                    </div>
                    <div class="pricing-body">
                        <div class="price-wrapper">
                            <span class="currency">{{interest}}</span>
                            <span class="price">%</span>
                            <span class="period">annum</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ***** Pricing Item End ***** -->

            <!-- ***** Pricing Item Start ***** -->
            <div class="col-lg-4 col-md-6 col-sm-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.6s">
                <div class="pricing-item">
                    <div class="pricing-header">
                        <h3 class="pricing-title">LTV Ratio</h3>
                    </div>
                    <div class="pricing-body">
                        <div class="price-wrapper">
                            <span class="currency">{{ltv}}</span>
                            
                        </div>
                    </div>
                    {% comment %} <div class="pricing-footer">
                        <a href="#" class="main-button">Purchase Now</a>
                    </div> {% endcomment %}
                </div>
            </div>
            <!-- ***** Pricing Item End ***** -->
        </div>
    </div>
</section>
<!-- ***** Pricing Plans End ***** -->
<!-- emi calculator start -->
<section class="section" id="emi">
    <div class="container">
        <!-- ***** Section Title Start ***** -->
        <div class="row">
            <div class="col-lg-12">
                <div class="center-heading">
                    <h2 class="section-title">EMI CALCULATOR</h2>
                </div>
            </div>
            <div class="offset-lg-3 col-lg-6">
                <div class="center-text">
                    <p></p>
                </div>
            </div>
        </div>
        <!-- ***** Section Title End ***** -->
        <div class="col-lg-12 col-md-6 col-sm-12">
            {% include "calc.html" %}
        </div>
    </div>
</section>
<!-- emi calculator end -->
<section class="section colored" id="contact-us">
<!-- ***** Section Title Start ***** -->
<div class="row">
    <div class="col-lg-12">
        <div class="center-heading">
            <h2 class="section-title">Talk To Us</h2>
        </div>
    </div>
    <div class="offset-lg-3 col-lg-6">
        <div class="center-text">
            <p>Maecenas pellentesque ante faucibus lectus vulputate sollicitudin. Cras feugiat hendrerit semper.</p>
        </div>
    </div>
</div>
<!-- ***** Section Title End ***** -->

<div class="row">
    <!-- ***** Contact Form Start ***** -->
    <div class="col-lg-12 col-md-6 col-sm-12">
        <div class="contact-form">
            <form id="contact" action="" method="get">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <fieldset>
                            <input name="name" type="text" class="form-control" id="name" placeholder="Full Name"
                                required="">
                        </fieldset>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <fieldset>
                            <input name="email" type="email" class="form-control" id="email"
                                placeholder="E-Mail Address" required="">
                        </fieldset>
                    </div>
                    <div class="col-lg-12">
                        <fieldset>
                            <textarea name="message" rows="6" class="form-control" id="message"
                                placeholder="Your Message" required=""></textarea>
                        </fieldset>
                    </div>
                    <div class="col-lg-12">
                        <fieldset>
                            <button type="submit" id="form-submit" class="main-button">Send Message</button>
                        </fieldset>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- ***** Contact Form End ***** -->
</div>
</div>
</section>
<!-- ***** Contact Us End ***** -->

<!-- ***** Footer Start ***** -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p class="copyright">Gold Loan Finance Management system</p>
            </div>
        </div>
    </div>
</footer>


{% endblock %}