
	<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
				<div class="table100 ver6 m-b-110">
					<table data-vertable="ver6">
						<thead>
							<tr class="row100 head">
								<th class="column100 column1" data-column="column1"></th>
								<th class="column100 column2" data-column="column2">PaymentId</th>
								<th class="column100 column3" data-column="column3">Date</th>
								<th class="column100 column4" data-column="column4">EMI</th>
								<th class="column100 column5" data-column="column5">Card Number</th>
								<th class="column100 column6" data-column="column6">Installment Status</th>
								<th class="column100 column7" data-column="column7"></th>
								
							</tr>
						</thead>
						<tbody>
							<tr class="row100">
								<td class="column100 column1" data-column="column1">{{c.customerName}}</td>
								<td class="column100 column2" data-column="column2">--</td>
								<td class="column100 column3" data-column="column3">{{c.applicationDate}}</td>
								<td class="column100 column4" data-column="column4">--</td>
								<td class="column100 column5" data-column="column5">--</td>
								<td class="column100 column6" data-column="column6">{{appl.loanApplicationStatus}}</td>
								<td class="column100 column7" data-column="column7"><input type="submit" value="PAY"></td>
								
							</tr>
						</tbody>
				
					</table>
				</div>
			</div>
		</div>
	</div>


	


